{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block body %}
    {{ parent() }}
    {% set accueil = "Hello" %}

   <h1>{{ accueil|upper }}</h1>
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}

