<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buchet List</title>
</head>
<body>
{% set whatToTest = "Testounet" %}
<h1>{{ whatToTest}}</h1>
</body>
</html>