<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket list{% endblock %}</title>


</head>
<body>
<header>
    <h1>Bucket List</h1>
{% include 'inc/nav.html.twig' %}

</header>
<main>
    {% block body %}<h3>Salam</h3>{% endblock %}
</main>
<footer>
    {% block footer %}
        <h1>&copy;{{ "now"|date('Y') }}Bucket list!</h1>
        {% include 'inc/nav.html.twig' %}
    {% endblock %}
</footer>
</body>
</html>
