<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket list{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

</head>
<body>
<header>
    <h1>Bucket List</h1>
{% include 'inc/nav.html.twig' %}

</header>
<main>
    {% block body %}<h3>Salam</h3>{% endblock %}
</main>
<footer>
    {% block footer %}
        <h1>&copy;{{ "now"|date('Y') }}Bucket list!</h1>
        {% include 'inc/nav.html.twig' %}
    {% endblock %}
</footer>
</body>
</html>
