<nav>
    <ul>
        <li><a href="/" title="home">home</a></li>
        <li><a href="main/test" title="test">test</a></li>
        <li><a href="main/list.html.twig" title="list">list</a></li>
    </ul>
</nav>