<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="home">Home</a></li>
        <li><a href="{{ path('main_test') }}" title="test">test</a></li>
        <li><a href="{{ path('main_list') }}" title="list">list</a></li>
    </ul>
</nav>